@using MVC_Hamburger.Areas.YonetimPaneli.Models.ViewModels
@model MenuVM
@{
	ViewData["Title"] = "Home Page";
}
<div class="row">
<div class="row m-0" style="height:100vh">
	<nav class="nav nav-tabs pt-3 col-2 flex-column bg-danger text-center" style="border-radius:5px">
		<a class="nav-item nav-link nav-link text-white" asp-action="Index" asp-controller="Home"><span>Menüler</span></a>
		<a class="nav-item nav-link nav-link text-white" asp-action="Burgerler" asp-controller="Home"><span>Burgerler</span></a>
		<a class="nav-item nav-link nav-link text-white"><span>Kids Menüler</span></a>
		<a class="nav-item nav-link nav-link text-white"><span>Çıtır Lezzetler</span></a>
		<a class="nav-item nav-link nav-link text-white"><span>Tatlılar</span></a>
		<a class="nav-item nav-link nav-link text-white"><span>Soslar</span></a>
		<a class="nav-item nav-link nav-link text-white"><span>İçecekler</span></a>
	</nav>
</div>
<div>

</div>
</div>