@using Microsoft.AspNetCore.Identity
@inject UserManager<Uye> UserManager
@inject SignInManager<Uye> SignInManager



@if (SignInManager.IsSignedIn(User))
{


	@if (User.IsInRole("Yonetici"))
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="YonetimPaneli" asp-controller="Kategori" asp-action="Index">Kategoriler</a>
		</li
		<li class="nav-item">
			<a class="nav-link" asp-area="YonetimPaneli" asp-controller="Menu" asp-action="Index">Menuler</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="YonetimPaneli" asp-controller="EkstraMalzeme" asp-action="Index">EkstraMalzemeler</a>
			</li>
		<p>Merhaba @UserManager.GetUserName(User)</p>


	}
	else
	{
		<p>Merhaba @UserManager.GetUserName(User)</p>
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Index"></a></li>

	}
		<a asp-controller="Login" asp-action="LogOut" class="btn btn-warning">Çıkış</a>
}
else
{
@* 	<div class="ml-auto"> *@
				<a asp-controller="Login" asp-action="Login" class="btn btn-warning">Login</a>
				<a asp-controller="Login" asp-action="Register" class="btn btn-warning">Register</a>
	@* @* </div> *@


}



