@using Microsoft.AspNetCore.Identity
@inject UserManager<Uye> UserManager
@inject SignInManager<Uye> SignInManager



@if (SignInManager.IsSignedIn(User))
{


    @if (User.IsInRole("Yonetici"))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="YonetimPaneli" asp-controller="Kategori" asp-action="Index">Kategoriler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="YonetimPaneli" asp-controller="Menu" asp-action="Index">Menuler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="YonetimPaneli" asp-controller="EkstraMalzeme" asp-action="Index">EkstraMalzemeler</a>
        </li>
        <li>Merhaba @UserManager.GetUserName(User)</li>
        <li class="navbar-item">
            <a asp-area="YonetimPaneli" asp-controller="YonetimPanel" asp-action="Index">Yönetim Paneline Git</a>
        </li>


    }
    else
    {
        <li class="navbar-item">
            <a asp-area="UyePaneli" asp-controller="UyePanel" asp-action="Index">Üye Paneline Git</a>
        </li>

    }
    <li class="navbar-item">
        @*   <form asp-action="LogOut" asp-controller="Login" >
    <input type="submit" value="LogOut" />
    </form> *@
        <a asp-controller="Login" asp-action="LogOut" class="btn btn-warning">Çıkış</a>
    </li>
}
else
{
    <li class="navbar-item">
        <a asp-controller="Login" asp-action="Login" class="btn btn-danger">Login</a>
        <a asp-controller="Login" asp-action="Register" class="btn btn-danger">Register</a>
    </li>

}



